
//colors
$dark:#0C0910;
$light:#FFF; 
$isabelline: #ECECEC;
$light-gray:#D1D1D1;
$granite-gray:#646266;
$quick-silver:A6A5A8;

//Typography
$principal-font: "Old Standar TT";
$secondary-font: "Raleway";

//breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 996px;
$bp-xl: 1200px;

//font size setup
$fs-xxxl: 3.125rem;
$fs-xxl: 1.875rem;
$fs-xl: 1.25rem;
$fs-l: 1.125rem;
$fs-m: 1rem;
$fs-s: 0.875rem;
$fs-xs: 0.75rem;