.news-letter{
    display: inline-flex;
    background-color: $dark;
    color: $light;
    height: 12rem;
    width: 100%;
    
    h3{
        font-family: $principal-font;
        font-size: $fs-xxl;
    }
    .content{
        display: flex;
        flex-direction: column;
        margin: 1em auto;
        width: 70%;
    }
    .suscribir{
        border: none;
        width: 10%;
        p{
            transform: rotate(90deg);
        }
    }
    @include respond-to($bp-md){ 
        grid-column-start: 1;
        grid-column-end: 2;
        .suscribir{
            width: 5%;
        }
    }
}